:root{
    --backgroud-body: #fcf7d3;
    --backgroud-nav: #b7d1a3;
    --background-footer: #b7d1a3;
    --sombra: #5e3929;
    @import url:'https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: 'lato', Roboto;
    margin-bottom: 1.5rem;
}

h1,
h2,
h3,
a{
    font-family: 'lato', cursive;
    letter-spacing: 3px;
    font-weight: 800;
    color: var(--backgroud-footer-);
}

a{
    text-decoration: none;
}

h1{
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    color: #5e3929;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

h2,
h3{
    text-align: center;
}

body{
    background-color: var(--backgroud-body);

}

nav{
    margin: 0 auto;
    width: 80vw;
    background-color: var(--backgroud-nav);
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 2.25rem 1.5rem;
    box-shadow: 2px 2px 5px 
}

.logo{
    display: flex;
    width: 20%;
    justify-content: left;
    position: relative;
    align-items: center;
}

.icone{
    width: 5rem;
    padding-left: 1rem;
}

.titulo{
    font-family: 'lato', cursive;
    color: #cd8c52;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 800;
}

ul{
    list-style: none;
    align-items:center;
    display: flex;
    gap: 1rem;
    font-size: 24px;
}

nav a{
    color: #cd8c52;
}

main{
    width: 80vw;
    margin: 0 auto;
}

#sobre{
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fcf7d3;
    background-color: #5e3929;
    border-radius: 16px;
}

.foto{
    width: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--sombra);
}

#meu_video {
    color: #cd8c52;
    margin-bottom: 2rem;
}

.video {
    width: 60vw;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    margin-top: 2rem;
    box-shadow: var(--sombra);
}

footer{
    margin: 0 auto;
    width: 80vw;
    background-color: var(--backgroud-nav);
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #5e3929;
    padding: 2.25rem 1.5rem;
    box-shadow: 2px 2px 5px 
}

#redes{
    display: flex;
    width: 20%;
    justify-content: left;
    position: relative;
    align-items: center;

}

.linkedin{
    width: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--sombra);
}

.instagram{
    width: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--sombra);
}


.github{
    width: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--sombra);
}


/* Estilizar o Formulário*/

.contato {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 40px;
    color: #5e3929;
    
}

.endereco {
    font-family: 'lato', Roboto;
    color: #5e3929;
    font-size: 1rem; 
}

.formulario {
    width: 50%;
}

hr{
    margin: 1rem;
}

label {
    font-family: 'lato', Roboto;
    margin-left: 1rem;
    font-weight: bold;
}

input,
textarea,
button{
    font-family: 'lato', Roboto;
    width: 100%;
    margin-top: 0.25rem;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 8px;
    color:#5e3929;
}

button{
    font-family: 'lato', Roboto;
    background-color: var(--backgroud-nav);
    font-weight: 800;
    color: #cd8c52;
}

button:hover{
    background-color: #a3b6a2;
}

input::placeholder,
textarea::placeholder{
    color: var(--backgroud-nav);
}

#redes{
    display: flex;
    width: 20%;
    justify-content: left;
    position: relative;
    align-items: center;

}

.linkedin{
    width: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--sombra);
}

.instagram{
    width: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--sombra);
}


.github{
    width: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--sombra);
}
